.blog_archive
  .padding
    %h2
      = blog.title
      Archive

    %ul
      - blog.sorted_children.each do |post|
        %li
          = link_to post.title, post.path
          = post.created_at.to_date.to_s(:long_ordinal)
