<hr>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><p class="text"><span class="blueheading"><%= article.title %></span></p></td>
  </tr>
  <%- if article.subtitle? -%>
  <tr>
    <td valign="top"><span class="sub-heading"><%= article.subtitle %></span></td>
  </tr>
  <%- end -%>
  <tr>
    <td valign="top" class="text">
      <%- if article.photos.count > 0 -%><%= image_tag(article.photos.first.photo.url(:newsletter), :align => cycle(:right, :left)) %><%- end -%>
      <%= textilize article.body %>
    </td>
  </tr>
</table>
