@import constants.sass

#content
  :color = !gray
  :font-family = !serif
  :margin = 1em !side_margin
  :position relative

  .gallery
    .thumbnails
      :float left
      :height 500px
      :margin 0
      :overflow hidden
      :padding 0
      :position relative
      :width 136px
      .arrow
        :background-color #fff
        :color = !yellow
        :font-size 16px
        :line-height 24px
        :height 24px
        :text-align center
        :width 120px
        &:hover
          :cursor pointer

      ul
        :height 452px
        :list-style none
        :margin 0
        :overflow hidden
        :padding 0
      li
        :border-right 16px solid #fff
        :line-height 0
        :margin 0
        :margin-bottom 16px
        :padding 0
        :position relative
        .caption
          :background-color = #000
          :color #fff
          :position absolute
          :bottom 0
          :left 0
          :right 0
          :z-index 2
          :line-height 1.3em
          :padding 0.5em
          :font-family = !sans_serif
          :font-size 0.9em
          :font-weight bold

          :opacity 0.7
          :-moz-opacity 0.7
          :filter alpha(opacity=70)
        img
          :border-width 0
      li.current
        img
          :border = 5px solid !orange
          :width 110px
          :height 110px
    .image
      :margin-left 0px
      :width 364px

  .image
    :float left
    :height 550px
    :margin-bottom 1em
    :position relative
    :width 500px
    .photo
      :position absolute
      :top 0
      :left 0
      :z-index 0

  .text
    :margin-left 516px

  .two_column_text
    table
      :border-collapse collapse
      :width 100%
      td
        :vertical-align top
        :width 50%

  .breadcrumbs
    :color = !orange
    :font-family = !sans_serif

  h1
    :color = !orange
    :font-family = !sans_serif
    :margin-top 0
    :padding 0

  h2
    :color = !orange
    :font-family = !sans_serif

  ul
    :list-style-type square
    :padding-left 1.25em

  .box
    :background-color = !light_yellow
    :border = 1px solid !orange
    :color black
    :margin-bottom 1em
    :padding 1em
    h2
      :margin-top 0

  .blog
    h2
      :margin-bottom 0.5em
      a
        :color = !orange
        :text-decoration none
    ul
      :list-style none
      :margin-bottom 0
      :margin-top 0
      :padding 0
    li
      :margin-bottom 0.5em
      a
        :text-decoration none
        .title
          :font-family = !sans_serif
        .excerpt
          :font-size 0.8em
          p
            :margin 0

  .blog_text
    :margin-right 216px

  .blog_archive
    :background-color #eee
    :float right
    :font-size 0.9em
    :margin-bottom 16px
    :width 200px
    .padding
      :padding 1em
    ul
      :margin 0
      :padding 0
      :list-style none
      li
        :margin-bottom 1em

  .next_link
    a
      :background-color = !orange
      :border = 1px solid !orange
      :color white
      :float right
      :margin-top 1em
      &:hover
        :background-color white
        :color = !orange

  a.button
    :display block
    :font-family = !sans_serif
    :font-size 14px
    :font-weight bold
    :margin-left 1em
    :margin-bottom 1em
    :padding 0.4em 0.5em 0.5em
    :text-decoration none

  .footer
    :border-top = 2px solid !yellow
    :clear both
    :font-size 0.8em
    :margin-top 1em
    :padding 1em 0em

    p
      :margin-top 0
      :margin-bottom 1em

    p.thanks
      :color = !light_gray

    a
      :color = !gray
    a.share
      :background-color = !medium_yellow
      :border = 1px solid !medium_yellow
      :color = !orange
      :float right
      &:hover
        :background-color white
        :border-color = !orange
        :color = !orange
