@import constants.sass

.content
  :color = !gray
  :font-family = !serif
  :margin = 1em !side_margin

  .gallery
    .thumbnails
      :float left
      :height 500px
      :list-style none
      :margin 0
      :overflow hidden
      :padding 0
      :position relative
      :width 136px
      li
        :line-height 0
        :margin 0
        :margin-bottom 16px
        :padding 0
        img
          :border-width 0
      li.current
        :border-right = 16px solid !orange
    .image
      :margin-left 0px
      :width 364px

  .image
    :float left
    :height 550px
    :margin-bottom 1em
    :position relative
    :width 500px

  .photo
    :position absolute
    :top 0
    :left 0
    :z-index -2

  .text
    :margin-left 516px

    .breadcrumbs
      :color = !orange
      :font-family = !sans_serif

    h2
      :color = !orange
      :font-family = !sans_serif
      :margin-top 0
      :padding 0

    .box
      :background-color = !light_yellow
      :border = 3px solid !light_orange
      :margin-bottom 1em
      :padding 0em 1em

    .next_link
      a
        :background-color = !orange
        :color white
        :display block
        :float right
        :font-family = !sans_serif
        :font-size 14px
        :font-weight bold
        :margin-bottom 1em
        :padding 0.4em 0.5em 0.5em
        :text-decoration none
        &:hover
          :background-color = !medium_yellow
          :color = !orange


  .share
    :clear right
    :text-align right

  .footer
    :border-top = 2px solid !yellow
    :clear both
    :font-size 0.8em
    :margin-top 1em
    :padding 1em
    :text-align center

    a
      :color = !gray