%ul
  %li= link_to 'New Section', new_admin_section_path
  %li= link_to 'New Page', new_admin_page_path
  %li= link_to 'New Gallery', new_admin_gallery_path

%ol.sections
  = render :partial => Section.ordered
