- if page.show_children_as?(:links)
  - if page.show_child_links_prompt?
    %p= page.show_child_links_prompt
  %ul.children
    - page.children.positioned.each do |child|
      %li= link_to_unless_current child.title, child.path

- if page.show_children_as?(:dropdown)
  %form
    .field
      %select.child_links_dropdown
        - if page.show_child_links_prompt?
          %option{ :disabled => true, :selected => true }= page.show_child_links_prompt
        = options_from_collection_for_select(page.children.positioned, :path, :title)
