<html>
<head>
<title><%= @newsletter.title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<style type="text/css">
<!--
h1,h2,h3,h4,h5,h6 {
	font-family: Impact;
}
h1 {
	font-size: 18px;
	color: #009;
}
.text {
	font-family: Arial;
	font-size: 15px;
}
.blueheading {
	font-family: Impact;
	font-size: 18px;
	color: #009;
	text-align: left;
}
.sub-heading {
	font-family: Impact;
	font-size: 15px;
	text-align: left;
}
.imagecaption {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.footer {
	font-family: Arial;
	font-size: 12px;
}
.mission {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
-->
</style></head>

<body bgcolor="#FFFFE1" text="#000000">
<table width="600" border="1" cellspacing="0" cellpadding="4" align="center" bordercolor="#FF6600" bgcolor="#FFFFFF">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <div align="center"><%= image_tag 'newsletter_logo.gif', :alt => "Amani Children's Home" %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div align="center"><font face="Impact" size="5" color="#000099">Rescuing
              Children. Restoring Hope. Transforming Lives.</font></div>
          </td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td valign="top">
            <p align="center" class="text"><font size="2" face="Comic Sans MS" class="text">Amani, located at the foot of Mt. Kilimanjaro, provides care and
education for nearly 300 street children and orphans in Amani's
home and in the local community.</font></p>
          </td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="62%" valign="top"><p class="text"><span class="blueheading">Building the Foundation for a Promising Future</span></p></td>
          <td width="38%" rowspan="3" align="center" valign="top"><span class="imagecaption"><img src="images/Carpenter-Kamera-Instructs-One-of-the-Amani-Children.gif" alt="Carpenter Kamera teaches basic workshop skills to an Amani child" height="307"><br>
            Carpenter Kamera teaches basic<br>
            workshop
          skills to an Amani child</span></td>
        </tr>
        <tr>
          <td valign="top"><span class="sub-heading">The Amani Children Begin Weekly Carpentry Lessons</span></td>
        </tr>
        <tr>
          <td valign="top"><p class="text">The Amani kids have begun weekly woodworking and carpentry lessons. Local craftsman Goodluck Kamera teaches carpentry basics as part of Amani&rsquo;s life skills curriculum, which prepares the children for the future with a number of practical skills.</p>
            <p class="text">Kamera began his carpentry course last month by giving the children a classroom introduction to working with wood. Before being allowed to hammer their first nail, the kids began by studying the tools found in a workshop and the safe way to handle them. &ldquo;The students are eager to begin the practical side of the course, but learning how to be safe in the workshop is critical,&rdquo; said Kamera.</p>
            <p class="text">After the children have mastered the basics, Kamera will begin a hands-on carpentry course in a small </p></td>
        </tr>
        <tr>
          <td colspan="2" valign="top"><p class="text">    workshop behind Amani. There the children will learn about soft wood and its many uses, how to make joints, and how to select and properly dry wood.&nbsp; &ldquo;We are confident that these skills will help the children prepare for an independent future,&rdquo; said Philomena Maro, the Amani teacher who coordinates the project. Tools for the workshop were donated by the Stern, Dveris and Silverman families in Canada.</p>
          <p class="text">The children are enthusiastic about the opportunity to begin building something that they can use or sell. &ldquo;By learning how to build with wood we will be able to support ourselves someday&rdquo;, says Mohammed Shabani, one of the Amani children.</p></td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="24%">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><p class="blueheading">Raffle: Free Kilimanjaro Climb for Two!</p></td>
              </tr>
              <tr>
                <td colspan="2"><span class="text">Have you always dreamed of climbing Mt. Kilimanjaro?&nbsp; Or would you need a really good reason to do it?&nbsp;No matter which category you fit in, this is an excellent opportunity to climb the world&rsquo;s tallest freestanding mountain&hellip; for <strong>just &pound;10</strong>!</span></td>
              </tr>
              <tr>
                <td width="41%" align="center"><p class="imagecaption"><img src="images/kilimanjaro.gif" alt="Mt. Kilimanjaro, Africa&rsquo;s highest peak" width="240" height="192"><br>
                Mt. Kilimanjaro, Africa&rsquo;s highest peak</p></td>
                <td width="59%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                  <tr>
                    <td><p class="text"><br>
                      Bruce Thew is hosting an Amani Children's Home Golf Day for the second year in a row this September. Intrepid Guerba Travel, a long-time supporter of the Amani kids, is offering <strong>two free treks</strong> up to the Roof of Africa as a raffle prize for Bruce&rsquo;s event. Bruce&rsquo;s company, Activenes Consultancy, will contribute <strong>&pound;500 per person</strong> towards the costs of flights. Every cent raised in the raffle will go to help the Amani children.</p></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2"><p class="text">Whether you have an adventurous spirit – or want to make a difference with your feet firmly on the ground – this is a great opportunity.  Last year the climb raffle raised nearly £5000, sending 53 children to primary school for an entire year. With your help we can make it possible to give more children the opportunities that an education brings. Visit <a href="http://www.justgiving.com/brucethew1">http://www.justgiving.com/brucethew1</a> to buy your raffle tickets today!</p></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" class="text"><p class="blueheading">Focus on a Child: Happiness Lawasare</p></td>
          <td width="41%" rowspan="2" valign="top" class="imagecaption"><img src="images/Happiness-Lawasare-excels-in-school.gif" alt="Happiness Lawasare studies hard" width="243" height="248"><br>
          Happiness Lawasare studies hard</td>
        </tr>
        <tr>
          <td width="59%" valign="top" class="text"><p>Happiness Lawasare is aptly named. Her youthful curiosity and effervescent smile engage all who cross her path. But her joyful attitude belies her difficult past. </p>
          <p>Happiness lived with her mother and four siblings on the streets of Arusha until the age of four when her aunt took her into her home. However, her aunt&rsquo;s generosity was larger than her meager income. Happiness often went to bed hungry and after a few years her aunt was no longer able to pay for her school fees.</p></td>
        </tr>
        <tr>
          <td colspan="2" valign="top" class="text"><p>When she was able to attend class Happiness excelled in school, and was well-liked by her teachers. She enjoyed studying history and received high marks in English. After passing her secondary school entrance exam, the local headmaster took pity on Happiness and allowed her to attend school with the agreement that she would find a way to repay the fees. In an effort to hold up her end of the bargain, Happiness turned to the streets to find the money. The nighttime streets of Arusha are a dangerous place for a child, especially a young girl. Godfrey, Amani&rsquo;s Street Educator, found Happiness on the street and paid for her fare to return home. Weeks later, he found Happiness on the streets again. This time, Godfrey went with the girl to meet the headmaster of her school and discuss what could be done. </p>
<p>Through contributions from Amani&rsquo;s donors, Amani paid for Happiness to return to school and ensured that she will never again be forced to turn to the streets in an effort to pay for her education. Happiness is one of 288 children whose education is sponsored by Amani. Now in her third year of secondary school, Happiness is close to achieving what only 7% of Tanzanian children are able to do&mdash;graduate from secondary school.&nbsp; Thanks to the compassionate people who support Amani, Happiness&rsquo;s future is as bright as her smile.</p></td>
        </tr>
      </table>
      <hr>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="blueheading">&ldquo;Together&rdquo; Bringing Hope to Needy Children</td>
          <td width="38%" rowspan="3" align="center" valign="top"><img src="images/Together.gif" alt="&ldquo;Together&rdquo; by Debbie Carmichael" width="250" height="215"><br>
          <span class="imagecaption">&ldquo;Together&rdquo; by Debbie Carmichael</span></td>
        </tr>
        <tr>
          <td class="sub-heading"><p>Artist Debbie Carmichael Paints for a Brighter Future</p></td>
        </tr>
        <tr>
          <td width="62%" valign="top" class="text"><p>Debbie Carmichael&rsquo;s paintings are familiar to anyone who&rsquo;s visited Amani Children&rsquo;s Home. Her images appear on gift cards for sale at Amani to benefit the kids.</p>
          <p>Debbie has once again used her amazing artistic talents to benefit homeless and orphaned children. On May 7th her painting &ldquo;Together&rdquo; was unveiled at the Wortley Beck Health Centre in South Leeds, U.K. She  donated the proceeds from the painting to help purchase new clothes cupboards at  Amani.</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="text"><br>
            Debbie, a retired children&rsquo;s ophthalmologist, now devotes her time to her painting, a passion she has pursued for 18 years. She has been supporting the children at Amani in creative ways since 2003, when she and her husband Robin were first introduced to Amani.</p>
          <p class="text">&ldquo;We fell in love with the place, its ethos and history &ndash; started by Tanzanians for Tanzanians and run according to Tanzanian culture. What else would work in Tanzania, we thought?&rdquo; says Debbie. Robin joined Amani&rsquo;s Board of Trustees and served for two years, offering </p></td>
        </tr>
        <tr>
          <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="37%" class="imagecaption"><img src="images/Robin-and-Debbie-Carmichael.gif" alt="Artist Debbie Carmichael with her husband Robin (L)" width="226" height="317"><br>
                Artist Debbie Carmichael with<br>
                her husband Robin (L)</td>
              <td width="63%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td><p class="text"> healthcare advice and contributing his years of experience as a General Practitioner to the management team.</p>
                    <p class="text">Robin says, &ldquo;Very occasionally in a lifetime you find yourself in the middle of something that you know is fundamentally good, right and presses all the wholesome buttons in your character. You feel - in exactly the right ratio - anger that such lovely kids have endured the tragedies that have driven them onto the streets; shame that the world is largely indifferent; joy and pleasure to be in a position to do something; and, lastly, pride to be&nbsp;associated with the people who, hour by hour, day after day, year in and year out work tirelessly to give back to those kids the things they have lost. They receive security, food, health care, a home, an education and lots and lots of what they most need: love.&rdquo;</p>
                    <p class="text">Amani is grateful for Robin and Debbie and the other</p></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="2"><p class="text"> Amani supporters around the world who bring hope and happiness into children&rsquo;s lives. The Carmichaels are active members of <a href="http://foa.uk.amanikids.org/">Friends of Amani</a> UK<em>. </em>FOA UK will have their next meeting at the end of September. If you're interested in attending then contact us at <u><a href="foa.uk@amanikids.org">foa.uk@amanikids.org</a></u>.</p></td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2"><p class="blueheading">Becoming a Learning Organization: Part 2</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="sub-heading">Setting and Achieving Mid-Term Goals brings Purposefulness and Progress</p></td>
        </tr>
        <tr>
          <td width="61%"><p><span class="text">In many organizations, the daily routine can easily overrule any initiative for innovation. You do your job day in and day out, performing tasks out of habit.&nbsp; This can also true at Amani. Without being purposeful, it would be easy for the teachers, caregivers, and social workers to get stuck in a rut of habit, rarely taking a step back and reflecting on how they can innovate to improve the level of care that Amani provides.</span></p>
          <p><span class="text">In 2009, Amani is putting a special emphasis on becoming a &ldquo;learning organization,&rdquo; a place of constant growth and development.</span><span class="text"> One way we&rsquo;re encouraging innovation and creativity is through using action plans. A</span><span class="text">n action</span><span class="text">plan is a time-specific plan with a number of goals and set of activities towards achieving those goals, specifying how, when, and by whom each activity will take place. The action plan provides mid-term goals that come out of an organization&rsquo;s long-term strategic plan.</span></p></td>
          <td width="39%" valign="top" class="imagecaption"><img src="images/John-Bahati.gif" alt="John Bahati explains the Social Work Department&rsquo;s goals" width="230" height="313"><br>
          John Bahati explains the Social <br>
          Work Department&rsquo;s goals</td>
        </tr>
        <tr>
          <td colspan="2"><p><span class="text">Recently, each department at Amani reviewed its action plan from the last quarter.&nbsp; Using the results and lessons learned from that review, as well as emerging issues and ideas, they created new action plans.&nbsp; One of the nurse&rsquo;s new goals is to create a regular schedule of reproductive health and life skills classes for the older children.&nbsp; The evening caregivers have goals related to helping the kids keep their clothes, bodies, and rooms clean.&nbsp; The social workers plan to teach seminars on counseling to the rest of the staff and increase the frequency that children receive counseling while at Amani.</span></p>
<p><span class="text">Joyce Makyao, a teacher at Amani, says &ldquo;Action Plans help us work systematically in the direction we want to go.&nbsp; We can assess how far we have gone, which goals are achieved and which goals need to be carried forward.&rdquo;</span></p>
          <p><span class="text">As Amani continues to use goals and action plans to strengthen the impact of our services, we will ever more effectively educate, care for, and bring hope into the lives of children in Tanzania.</span></p></td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td><em class="text"><span class="mission">Amani Children&#8217;s Home is committed to reducing the number of children living on the streets in Tanzania by providing a nurturing place for homeless children to heal, grow, and learn. &nbsp;In addition to providing long-term care, Amani aims to reunite children with their relatives when possible and to equip their families with the tools they need to be self-sustainable. &nbsp;Amani is dedicated to creating a path for each child that leads to a future filled with hope.</span></em></td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr class="footer">
          <th width="70%" class="footer" scope="col"><font size="1" face="Tahoma" class="footer">If you'd like to unsubscribe from this quarterly newsletter, click <a href="../../leave.htm">here</a>.</font></th>
          <th width="30%" scope="col"><a href="http://www.amanikids.org">www.amanikids.org</a></th>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>